# Docker
.docker-sync
docker-compose.override.yml

# Node.js
node_modules
.next
*.log

# Rails
/backend/tmp
/backend/log
/backend/.bundle
/backend/vendor/bundle

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store 
.vercel

# .gitignore
.env.local
